<%- include('../layouts/header') %>
<link rel="stylesheet" href="/css/auth/register.css">
<div class="login-page">
  <h2 class="login-title">회원정보 입력</h2>

  <div class="login-box">
    <div class="form-wrapper">
      <form action="/auth/register-temp" method="POST">
        <div class="form-row">
          <label for="name">이름</label>
          <input type="text" name="name" id="name" value="<%= name || '' %>" required>
        </div>

        <div class="form-row">
          <label for="email">이메일</label>
          <div class="email-group">
            <input type="email" name="email" id="email" value="<%= email || '' %>" required>
            <button type="button" class="check-btn" id="checkEmailBtn">중복 확인</button>
          </div>
        </div>
        <p id="emailStatusText" class="input-msg"></p>
        <% if (emailError) { %>
          <p id="error-email" class="input-msg error-text red"><%= emailError %></p>
        <% } %>        

        <div class="form-row">
          <label for="password">비밀번호</label>
          <input type="password" name="password" id="password" required>
        </div>

        <div class="form-row">
          <div class="double-label">
            <span>비밀번호</span>
            <span>&nbsp;&nbsp;&nbsp;확인</span>
          </div>
          <input type="password" name="password2" id="password2" required>
        </div>
        <p id="pw-error-msg" class="input-msg"></p>
        
        <div class="button-wrapper">
          <button type="submit" class="login-btn">다음</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/auth/register.js"></script>
<%- include('../layouts/footer') %>