<%- include('layouts/header') %>

<div class="quiz_question_container">
  <div class="quiz-box">

    <!-- 학습메모 버튼 -->
    <form action="/quiz/bookmark" method="POST" class="bookmark_form">
      <input type="hidden" name="questionId" value="<%= question.id %>">
      <button type="submit" class="bookmark_btn"></button> <!-- 이미지로 바꿔야됨 아직,,-->
    </form>

    <!-- 문제 -->
    <div class="quiz_content">
      <img src="<%= question.imageUrl %>" alt="수어 이미지" class="quiz_image" />
      <div class="quiz_text">
        <p class="quiz_title"><%= question.title %></p>

        <div class="quiz_options">
          <% question.options.forEach((option, index) => { %>
            <button class="quiz_btn">
              <%= index + 1 %>. <%= option %>
            </button>
          <% }); %>
        </div>
      </div>
    </div>

  </div>
</div>

<%- include('layouts/footer', { script: '' }) %>